.tabel1{
    width: 50%;
    margin: auto;
    border-collapse: collapse;
}

.tabel1 {
    font-family: sans-serif;
    color: #444;
    border-collapse: collapse;
    width: 50%;
    border: 1px solid #f2f5f3;
    margin-top: 50px;
}

.tabel1 tr th{
    background: #35a9db;
    color: #fff;
    font-weight: normal;
}

.tabel1 #alpukat1 td{
    background: yellow;
    color: black;
}

.tabel1 #alpukat2 td{
    background: burlywood;
    color: black;
}

.tabel1 #alpukat3 td{
    background: greenyellow;
    color: black;
}

.tabel1 #alpukat4 td{
    background: brown;
    color: black;
}